.App {
  background-color: #0e0e1f;
  color: white;
}
.Header {
  background-color: #181833;
  color: white;
}

.card {
  padding: 16px;
  background-color: #181833;
  width: 100%;
  height: auto;
  color: white;
}

